@mixin alert($color, $background-color) {
	color: $color;
	background-color: $background-color;

	.close {
		color: $color;
	}

	a {
		&,
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color: $color;
		}
	}
}

.alert {
	position: relative;
	margin: 0 0 map-get($spacers, 2);
	border: 0;
	border-radius: 0;
	color: $clr-grey-800;
	background-color: $clr-grey-300;

	&-dismissible {
		padding-right: map-get($spacers, 2);
	}

	.close {
		position: absolute;
		top: 10px;
		right: 5px;
		padding: 0;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border: 0;
		background: 0;
		color: $clr-grey-800;
	}

	&-success {
		@include alert($clr-success, $clr-tinted-success);
	}

	&-pink {
		@include alert($clr-white, $clr-pink);
	}
}
