$clr-pink-hover: #ffa0a6;

.EPiServerForms .Form__Title {
	color: $clr-black;
	font-family: $font-family-utopia;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	@include media-breakpoint-up(md) {
		font-size: 34px;
		line-height: 30px;
	}
}

.EPiServerForms .Form__Description {
	color: $clr-grey-800;
	font-size: 14px;
	line-height: 20px;
	font-family: $font-family-graphik;
	text-align: center;
	max-width: 80%;
	margin: 1.5rem auto;

	@include media-breakpoint-up(md) {
		max-width: 60%;
	}
}

.EPiServerForms .Form__Element {
	margin-bottom: 1rem;
}

.EPiServerForms .FormChoice__Input:disabled {
	cursor: not-allowed;
}

.EPiServerForms .Form__Element__Caption {
	color: #2a2a2a;
	display: block;
	vertical-align: top;
}

.EPiServerForms .FormTextbox__Input {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid $clr-grey-500;
	border-radius: 0;
	font-size: 14px;
	line-height: 28px;
	font-family: $font-family-graphik;
	min-width: 100%;
	padding: 10px 20px;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	color: $clr-black;
}

.EPiServerForms .FormTextbox__Input::placeholder {
	color: $clr-grey-800;
}

.EPiServerForms .FormTextbox__Input:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-tinted-pink;
	box-shadow: 0 0 0 2px $clr-tinted-pink;
	outline: 0;
}

.EPiServerForms .FormTextbox__Input:disabled {
	background-color: #e4e4e4;
	border: 1px solid #d8d8d8;
	cursor: not-allowed;
}

.EPiServerForms .Form__Element.ValidationFail .FormTextbox__Input,
.EPiServerForms .Form__Element.ValidationFail .FormTextbox__Input:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-error;
	box-shadow: 0 0 0 2px $clr-error;
}

.EPiServerForms .Form__Element.FormRange > span {
	display: flex;
	flex-direction: row;
	margin-top: 2px;
}

.EPiServerForms .Form__Element.FormRange .FormRange__Input {
	flex: 1;
	margin: auto 8px;
}

.EPiServerForms .Form__Element.FormSelection select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('/images/chevronDown.png');
	background-position: calc(100% - 12px) center;
	background-repeat: no-repeat;
	background-size: 12px;
	font-size: 14px;
	font-family: $font-family-graphik;
	border: 1px solid $clr-grey-500;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 28px;
	margin: 0;
	min-width: 100%;
	outline: none;
	padding: 10px 20px;
	color: $clr-black;
}

.EPiServerForms .Form__Element.FormSelection select:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-tinted-pink;
	box-shadow: 0 0 0 2px  $clr-tinted-pink;
	outline: 0;
}

.EPiServerForms .Form__Element.FormSelection select:disabled {
	background-color: #e4e4e4;
	border: 1px solid #d8d8d8;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI0IiBoZWlnaHQ9IjM3NSIgdmlld0JveD0iMCAwIDYyNCAzNzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICAgIDx0aXRsZT4gICAgICAgIGNoZXZyb24tZG93biAgICA8L3RpdGxlPiAgICA8cGF0aCBkPSJNNjMuMTczIDYzLjExMkwzMTIuMzMgMzEyLjI2OCA1NjEuNDg3IDYzLjExMiIgc3Ryb2tlPSIjZTQ5MzljIiBzdHJva2Utd2lkdGg9Ijg4LjA5IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz48L3N2Zz4=');
	cursor: not-allowed;
}

.EPiServerForms .Form__Element.FormSelection.ValidationFail select,
.EPiServerForms .Form__Element.FormSelection.ValidationFail select:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-error;
	box-shadow: 0 0 0 2px $clr-error;
}

.EPiServerForms .FormFileUpload__Input {
	border-radius: 4px;
	min-width: 100%;
	position: relative;
}

.EPiServerForms .FormFileUpload__Input:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-tinted-pink;
	box-shadow: 0 0 0 2px $clr-tinted-pink;
	outline: 0;
}

.EPiServerForms .Form__Element.FormFileUpload.ValidationFail .FormFileUpload__Input,
.EPiServerForms .Form__Element.FormFileUpload.ValidationFail .FormFileUpload__Input.ValidationFail:focus {
	-webkit-box-shadow: 0 0 0 2px $clr-error;
	box-shadow: 0 0 0 2px $clr-error;
	outline: 0;
}

.EPiServerForms .FormFileUpload__Input::-webkit-file-upload-button {
	background-color: $clr-pink;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	text-transform: uppercase;
}

.EPiServerForms .FormFileUpload__Input:disabled::-webkit-file-upload-button {
	opacity: 0.65;
}

.EPiServerForms .Form__Element.FormChoice .Form__Element__Caption {
	display: block;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 20px;
	position: relative;
	top: 4px;
	width: 20px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:active,
.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:focus {
	outline: none;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:focus::before {
	border-color: $clr-tinted-pink;
	-webkit-box-shadow: 0 0 0 1px $clr-tinted-pink;
	box-shadow: 0 0 0 1px $clr-tinted-pink;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio::before {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:checked::after {
	background-color: $clr-pink;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 12px;
	left: 4px;
	position: absolute;
	top: 4px;
	width: 12px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:disabled::before {
	background-color: #e4e4e4;
	border: 1px solid #d8d8d8;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Radio:disabled:checked::after {
	background-color: $clr-tinted-pink;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	height: 20px;
	line-height: unset;
	margin: 0;
	min-height: 20px;
	min-width: 20px;
	margin-right: map-get($spacers, '0-5');
	overflow: unset;
	padding: 0;
	position: relative;
	top: 2px;
	width: 20px;	
}

.EPiServerForms .FormChoice {
	label {
		color: $clr-grey-800;
		font-size: 14px;
		line-height: 24px;
		font-family: $font-family-graphik;
	}
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox::before {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	content: '';
	display: inline-block;
	height: 20px;
	min-width: 20px;
	vertical-align: top;
	width: 20px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:checked::before {
	background-color: $clr-pink;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:checked::after {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE1LjMsNi4yYy0wLjItMC4yLTAuNi0wLjItMC45LDBsLTYuMyw2LjNMNS41LDkuOWMtMC4yLTAuMi0wLjYtMC4yLTAuOSwwYy0wLjIsMC4yLTAuMiwwLjYsMCwwLjlsMy4xLDMuMUM3LjksMTMuOSw4LDE0LDguMiwxNHMwLjMtMC4xLDAuNC0wLjJsNi43LTYuN0MxNS42LDYuOCwxNS42LDYuNSwxNS4zLDYuMnoiLz48L3N2Zz4=');
	color: #fff;
	content: '';
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:disabled::before {
	background-color: #e4e4e4;
	border: 1px solid #d8d8d8;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:disabled:checked::before {
	background-color: $clr-tinted-pink;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:active,
.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:focus {
	outline: none;
}

.EPiServerForms .FormChoice__Input.FormChoice__Input--Checkbox:focus::before {
	border-color: $clr-tinted-pink;
	-webkit-box-shadow: 0 0 0 1px $clr-tinted-pink;
	box-shadow: 0 0 0 1px $clr-tinted-pink;
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image {
	margin-left: -5px;
	margin-right: -5px;
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image .Form__Element__Caption {
	padding: 0 5px;
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image .FormChoice--Image__Item {
	display: inline-flex;
	flex-direction: column;
	padding: 0 5px;
	width: calc(50% - 4px);
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image .FormChoice--Image__Item .FormChoice--Image__Item__Caption {
	font-size: 14px;
	margin: 0 0 8px;
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image .FormChoice__Input:checked~img {
	-webkit-box-shadow: 0 0 0 2px $clr-tinted-pink;
	box-shadow: 0 0 0 2px $clr-tinted-pink;
}

.EPiServerForms .Form__Element.FormChoice.FormChoice--Image .FormChoice__Input.FormChoice__Input--Radio {
	display: none;
}

.EPiServerForms .Form__Element.FormCaptcha .FormCaptcha__Refresh {
	background: #fff;
	color: $clr-pink;
	height: 34px;
	line-height: 34px;
	margin-left: 5px;
}

.EPiServerForms .Form__Element.FormCaptcha .FormCaptcha__Image {
	margin-bottom: 1rem;
	width: 50%;
}

.EPiServerForms input[type='button'],
.EPiServerForms input[type='submit'],
.EPiServerForms input[type='reset'],
.EPiServerForms button {
	background: $clr-pink;
	border: 1px solid $clr-pink;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	height: 48px;
	line-height: 48px;
	padding: 0 63px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.15s ease-in-out;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.EPiServerForms input[type='reset'] {
	background-color: #fff;
	color: $clr-pink;
}

.EPiServerForms input[type='button']:hover,
.EPiServerForms input[type='submit']:hover,
.EPiServerForms input[type='reset']:hover,
.EPiServerForms input[type='reset']:hover,
.EPiServerForms button:disabled {
	color: $clr-pink-hover;
}

.EPiServerForms input[type='button']:disabled,
.EPiServerForms input[type='submit']:disabled,
.EPiServerForms input[type='reset']:disabled,
.EPiServerForms input[type='reset']:disabled,
.EPiServerForms button:disabled {
	cursor: not-allowed;
	opacity: 1;
}

.EPiServerForms .Form__NavigationBar .Form__NavigationBar__Action {
	background: #fff;
	border: 1px solid $clr-pink;
	color: $clr-pink;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	height: 34px;
	line-height: 34px;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.15s ease-in-out;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 160px;
}

.EPiServerForms .Form__NavigationBar .Form__NavigationBar__ProgressBar .Form__NavigationBar__ProgressBar--Text {
	display: none;
}

.EPiServerForms .Form__NavigationBar .Form__NavigationBar__ProgressBar {
	border: 1px solid $clr-pink;
	width: calc(100% - 328px);
}

.EPiServerForms .Form__NavigationBar .Form__NavigationBar__ProgressBar.disabled {
	opacity: 0.65;
}

.EPiServerForms .Form__NavigationBar .Form__NavigationBar__ProgressBar .Form__NavigationBar__ProgressBar--Progress {
	background-color: $clr-pink;
}

.EPiServerForms .Form__Status .Form__Success__Message {
	background-color: #e3f4fc !important;
	color: #333;
}

.Form__Element__ValidationError {
	color: $clr-error;
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0.25rem;
}

// popup styles overridden here:
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.5em 0.4em 0.5em 0;
	cursor: pointer;
	background: $clr-pink;
	border: 1px solid $clr-pink;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.15s ease-in-out;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.ui-dialog .ui-widget-header {
	border: 0;
	background: transparent;
	color: #333;
	font-weight: bold;
}

.ui-dialog .ui-button-icon-only {
	display: none !important;
}

.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
	font-family: 'Roboto',sans-serif;
}
