html.modal-open {
	overflow: hidden !important;
}

body.modal-open {
	padding: 0 !important;
	max-height: 100vh !important;
	overflow: hidden !important;
}

// Default
.modal {
	.close {
		position: absolute;
		right: 20px;
		border: 0;
		background: transparent;
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $clr-grey-800;

		svg {
			width: 30px;
			height: 30px;
		}
	}

	&-backdrop {
		opacity: 0.5;
	}

	&-header {
		display: flex;
		font-size: 20px;
		line-height: 24px;
		font-family: $font-family-beausite-slick;
		min-height: 24px;
		text-align: center;
		justify-content: center;
		padding: map-get($spacers, '1-5');
		box-sizing: content-box;

		&-text {
			min-width: 100%;
			padding: 0 20px;
			margin: 0;
		}
	}

	&-content {
		border-radius: 0;
		border: 0;
		padding: 0 map-get($spacers, '1-5') map-get($spacers, '1-5');
	}
}

.modal--confirm {
	text-align: center;

	&.show {
		display: flex !important;
		align-items: center;
	}

	.close {
		width: 20px;
		height: 20px;
		right: 12px;
		top: 12px;
	}

	.modal {
		&-dialog {
			margin: auto;
			max-width: 400px;
			min-width: 400px;

			@include media-breakpoint-down(md) {
				max-width: 100%;
				min-width: 100%;
			}
		}

		&-header {
			padding: map-get($spacers, '0-5') 0;
			color: $clr-black;
		}

		&-content {
			padding: 0 map-get($spacers, '1-5') map-get($spacers, '1-5');
			border-radius: 0.25rem;
		}

		&-body {
			padding: 0;
		}

		&-footer {
			padding: 0;
			margin: 0 -5px;

			.btn {
				flex: 1;
				margin: 0 5px;
				padding: 0 0.5rem;
				line-height: 48px;
			}
		}

		&-title {
			font-family: $font-family-beausite-classic;
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			margin-bottom: 0.5rem;
		}

		&-description {
			color: $clr-grey-800;
			font-size: 14px;
			line-height: 20px;
			margin: 0 0 map-get($spacers, '1-5');
		}

	}
}

// Gallery
.modal--gallery {
	&.modal-backdrop.show {
		opacity: 1;
	}

	.modal {
		&-header {
			color: $clr-white;
		}

		&-dialog {
			max-width: 100%;
			height: 100%;
			margin: 0;
		}

		&-content {
			height: 100%;
			border: 0;
			padding: 0;
			background-color: #000;
		}
	}
}

// Sidebar
.modal--sidebar {
	.modal {
		z-index: map-get($z-index, modalSidebar);

		&-content {
			padding: 0;
			height: 100%;
			overflow-y: auto;
			border-radius: 0;
			border: 0;
			background-color: $clr-white;
		}

		&-dialog {
			overflow: auto;
			position: fixed;
			margin: auto;
			width: 100%;
			background-color: $clr-white;
			height: 100%;
			-webkit-transform: translate3d(0%, 0, 0);
			-ms-transform: translate3d(0%, 0, 0);
			-o-transform: translate3d(0%, 0, 0);
			transform: translate3d(0%, 0, 0);

			@include media-breakpoint-up(md) {
				width: 395px;
			}
		}

		&-body {
			padding: 0;
			overflow-y: scroll;
			min-height: calc(100vh - 53px);
			max-height: calc(100vh - 53px);
		}

		&-header {
			background-color: $clr-grey-200;
			border: 0;
			padding: 10px map-get($spacers, '1-5');
			text-align: left;
			justify-content: flex-start;

			.modal-title {
				font-size: 20px;
			}

			button {
				background-color: transparent;
				border: 0;
				padding: 10px 20px;
				right: 0.5rem;

				span {
					font-size: 30px;
				}
			}
		}
	}

	&.fade {
		opacity: 1;
		transition: opacity 0.3s linear;
	}

	// Animating in
	&.fade .modal-dialog {
		right: -600px;
		max-width: 100%;
		transition: opacity 0.3s linear, right 0.5s ease-out;
		transform: translate(0, 0);
	}

	// Animating out
	&.fade.animate .modal-dialog {
		right: 0;
		transition: opacity 0.3s linear, right 0.5s ease-out;
	}

	&--lg {
		.modal-dialog {
			@include media-breakpoint-up(md) {
				width: 600px;
			}
		}
	}
}

// Button
.modal--button {
	@include media-breakpoint-up(md) {
		.modal {
			&-content {
				border-radius: 4px;
				padding: 0;
			}

			&-header {
				.close {
					right: 0;
				}
			}

			&-body {
				padding: 0;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.modal {
			z-index: map-get($z-index, modalSidebar);

			&-content {
				padding: 0;
				overflow-y: auto;
				border-radius: 0;
				border: 0;
				background-color: $clr-white;
			}

			&-dialog {
				overflow: auto;
				position: fixed;
				margin: auto;
				width: 100%;
				background-color: $clr-white;
				border-radius: 8px 8px 0 0;
				margin-bottom: 0 !important;
			}

			&-body {
				padding: 0;
				overflow-y: scroll;
				max-height: calc(100vh - 53px);
			}

			&-header {
				background-color: $clr-grey-200;
				border: 0;
				padding: 10px map-get($spacers, 2);
				text-align: left;
				justify-content: flex-start;

				.modal-title {
					font-size: 20px;
				}

				button {
					background-color: transparent;
					border: 0;
					padding: 10px 20px;
					right: 2px;

					span {
						font-size: 30px;
					}
				}
			}
		}

		&.fade {
			opacity: 1;
			transition: opacity 0.3s linear;
		}

		// Animating in
		&.fade .modal-dialog {
			bottom: -1000px;
			max-width: 100%;
			transition: opacity 0.3s linear, bottom 0.5s ease-out;
			transform: translate(0, 0);
		}

		// Animating out
		&.fade.animate .modal-dialog {
			bottom: 0;
			transition: opacity 0.3s linear, bottom 0.5s ease-out;
		}
	}
}

// Button
.modal--renewbutton {
	@include media-breakpoint-up(md) {
		.modal {
			&-content {
				border-radius: 4px;
				padding: 0;
			}

			&-dialog {
				max-width: 865px;
				height: 100%;
				display: flex;
				align-items: center;
			}

			&-header {
				.close {
					right: 0;
				}
			}

			&-body {
				padding: 0;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.modal {
			z-index: map-get($z-index, modalSidebar);

			&-content {
				padding: 0;
				overflow-y: auto;
				border-radius: 0;
				border: 0;
				background-color: $clr-white;
			}

			&-dialog {
				overflow: auto;
				position: fixed;
				margin: auto;
				width: 100%;
				background-color: $clr-white;
				border-radius: 8px 8px 0 0;
				margin-bottom: 0 !important;
			}

			&-body {
				padding: 0;
				overflow-y: scroll;
				max-height: calc(100vh - 53px);
			}

			&-header {
				background-color: $clr-grey-200;
				border: 0;
				padding: 10px map-get($spacers, 2);
				text-align: left;
				justify-content: flex-start;

				.modal-title {
					font-size: 20px;
				}

				button {
					background-color: transparent;
					border: 0;
					padding: 10px 20px;
					right: 2px;

					span {
						font-size: 30px;
					}
				}
			}
		}

		&.fade {
			opacity: 1;
			transition: opacity 0.3s linear;
		}

		// Animating in
		&.fade .modal-dialog {
			bottom: -1000px;
			max-width: 100%;
			transition: opacity 0.3s linear, bottom 0.5s ease-out;
			transform: translate(0, 0);
		}

		// Animating out
		&.fade.animate .modal-dialog {
			bottom: 0;
			transition: opacity 0.3s linear, bottom 0.5s ease-out;
		}
	}
}
