.nav {
	&-tabs {
		border-bottom: 0;
		display: flex;
		flex-direction: row;

		.nav-item {
			width: 200px;
			min-width: 33%;
		}

		.nav-link {
			letter-spacing: 0.02rem;
			text-transform: uppercase;
			padding: map-get($spacers, '0-5') map-get($spacers, 2);
			border-radius: 0;
			text-align: center;

			&,
			&:link,
			&:visited {
				background-color: transparent;
				color: $clr-grey-800;
				border: 0;
				border-bottom: 1px solid $clr-grey-400;
			}

			&.active {
				font-family: $font-family-beausite-classic;
				background-color: transparent;
				color: $clr-pink;
				border: 0;
				border-bottom: 1px solid $clr-pink;
			}
		}
	}
}
