.popover {
	box-shadow: $popover-box-shadow;
	width: 280px;
	max-width: 280px;

	&-body {
		overflow-y: auto;
	}
}

// Tweak to bottom as arrow is revealing a slight space
.bs-popover-top > .arrow,
.bs-popover-auto[x-placement^='top'] > .arrow {
	bottom: -1.05rem;
}
