// z-index: map-get($z-index, blockName);
$z-index: (
	inputFormLabel: 10,
	productDetailsMainImageCarouselImage: 20,
	desktopMegaMenu: 30,
	mobileMenu: 30,
	xyHotspot: 40,
	nudgeBar: 100,
	productDetalsMobileBar: 200,
	siteHeaderDesktop: 210,
	successToast: 300,
	siteSelectorMenu: 1000,
	modalSidebar: 1060,
	googleAutocomplete: 1080
);
