html {
	background-color: $white;
	overflow-x: hidden;
	scroll-behavior: smooth;

	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

::selection {
	background-color: rgba(theme-color('primary'), 0.25);
}

body {
	margin: 0 auto;

	@include media-breakpoint-down(md) {
		min-height: 100vh;
		overflow-x: hidden;
	}
}

// Remove some browser defaults for IE, Edge, Safari
input[type='text']::-ms-clear {
	display: none;
}

select::-ms-expand {
	display: none;
}

input::-webkit-contacts-auto-fill-button {
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
	visibility: hidden;
}

// Google autocomplete
.pac-container {
	z-index: map-get($z-index, googleAutocomplete) !important;
}

// hide body's scrollbar when filters are up
.filters--active {
	max-height: 100vh;
	overflow-y: hidden;
}

@include media-breakpoint-up(sm) {
	.embed-responsive-sm-16by9::before {
		padding-top: 56.25%;
	}
}

@include media-breakpoint-up(md) {
	.embed-responsive-md-192by65::before {
		padding-top: 33.85417%;
	}

	.embed-responsive-md-16by9::before {
		padding-top: 56.25%;
	}
}

@include media-breakpoint-up(lg) {
	.embed-responsive-lg-192by65::before {
		padding-top: 33.85417%;
	}

	.embed-responsive-md-10by7::before {
		padding-top: 50%;
	}
}

@include media-breakpoint-up(xl) {
	.embed-responsive-xl-192by65::before {
		padding-top: 33.85417%;
	}
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.container-extended {
	max-width: 1400px;
	padding: 0;
	margin: auto;
}

@include media-breakpoint-up(lg) {
	.mw-lg-80 {
		max-width: 80%;
	}
}

.underline-no-valid-link {
	a:not([href]):not([class]) {
		color: $clr-grey-800;
		text-decoration: underline;
	}
}

.d-grid {
	display: grid;
}

.object-fit-cover {
	object-fit: cover;
}
