.text--display,
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: $font-family-beausite-slick;
	font-weight: 400;
	margin: 0 0 map-get($spacers, 1);
}

h6,
.h6 {
	font-family: $font-family-beausite-classic;
}

.text--display {
	font-size: 60px;
	line-height: 80px;
}

h1,
.h1 {
	font-size: 40px;
	line-height: 48px;
}

h2,
.h2 {
	font-size: 36px;
	line-height: 44px;
}

h3,
.h3 {
	font-size: 32px;
	line-height: 40px;
}

h4,
.h4 {
	font-size: 26px;
	line-height: 32px;
}

h5,
.h5 {
	font-size: 20px;
	line-height: 24px;
}

h6,
.h6 {
	font-size: 16px;
	line-height: 20px;
}

.text--small {
	font-size: 14px;
	line-height: 18px;
}

.text--xsmall {
	font-size: 12px;
	line-height: 14px;
}

.text--md {
	font-size: 16px;
	line-height: 28px;
}

.text-strike {
	text-decoration: line-through;
}

.lh-20 {
	line-height: 20px;
}

.lh-16 {
	line-height: 16px;
}

.lh-18 {
	line-height: 18px;
}

.letter-spacing-1 {
	letter-spacing: 1px;
}

.font-weight-500 {
	font-weight: 500;
}

@include media-breakpoint-down(md) {
	h1,
	.h1 {
		font-size: 32px;
		line-height: 40px;
	}

	h2,
	.h2 {
		font-size: 28px;
		line-height: 36px;
	}

	h3,
	.h3 {
		font-size: 26px;
		line-height: 32px;
	}

	h4,
	.h4 {
		font-size: 24px;
		line-height: 30px;
	}

	h5,
	.h5 {
		font-size: 20px;
		line-height: 24px;
	}

	h6,
	.h6 {
		font-size: 16px;
		line-height: 20px;
	}
}

b,
strong {
	font-weight: 500;
}

p {
	margin: 0 0 map-get($spacers, 1);
}

ul,
ol {
	padding: 0;
	margin: 0 0 map-get($spacers, 1);
}

ul {
	list-style-type: disc;
	padding: 0 0 0 3em;

	> li {
		padding: 0;
	}

	ul {
		padding: 0 0 0 1.2em;
	}

	ol {
		padding: 0;
	}
}

ol {
	list-style: none;
	counter-reset: item;
	display: table;
	padding: 0 2em;

	> li {
		display: table-row;

		&::before {
			content: counters(item, '.') '. ';
			counter-increment: item;
			display: table-cell;
			padding: 0 0.25em 0 0;
		}

		ol {
			padding: 0;
		}
	}

	ul {
		padding: 0 0 0 1em;
	}
}

.font-family-utopia {
	font-family: $font-family-utopia;
}

.font-family-graphik {
	font-family: $font-family-graphik;
}

.font-family-beausite-classic {
	font-family: $font-family-beausite-classic;
}

.font-family-beausite-classic-sans-serif {
	font-family: $font-family-beausite-classic-sans-serif;
}

.font-family-beausite-slick {
	font-family: $font-family-beausite-slick;
}

.text-underline {
	text-decoration: underline;
}

.text-underline\:hover {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.break-word {
	word-break: break-word;
}

.h3-styleguide {
	font-size: 28px;
	line-height: 32px;
	font-weight: 400;
}

@include media-breakpoint-down(md) {
	.h3-styleguide {
		font-size: 20px;
		line-height: 24px;
	}
}
